

header {
  font-family: 'Gloock', serif;
  background-color: rgb(215, 234, 250);
}

header a {
  color: #4d5e6e;
}

.login-main {
  min-height: 90vh;
  background-image: url('assets/images/skiing_background.jpg');
  height: 100vh;
}

.index-main {
  min-height: 85vh;
}

.form-wrapper {
  background-color: aliceblue;
  max-width: 490px;
  border-radius: 10px;
  overflow: hidden;
}

.challenges-box {
  border-radius: 10px;
}

.login-wrapper {
  margin: 0;
  position: center;
}

footer {
  font-family: 'Gloock', serif;
  background-color: aliceblue;
}

.challenges-box h2 {
  font-family: 'Gloock', serif;
  color: #5D8A94;
}

.challenge-head {
  display: inline-block;
}

.challenge-head button {
  display: inline-block;
  vertical-align: middle;
}

.challenge-head h2 {
  display: inline-block;
  vertical-align: middle;
}

.challenges-feed, .your-challenges {
  max-width: 400px;
}

