.login-main {
    max-height: 88vh;
    background-image: url('../../public/assets/images/skiing_background.jpg');
    background-size: cover; /* Scales the background image to cover the entire element */
    background-position: center; /* Centers the background image within the element */
    height: 100vh;
  }
  
  .index-main {
    min-height: 80vh;
  }
  
  .form-wrapper {
    background-color: aliceblue;
    max-width: 490px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .login-wrapper {
    margin: 0;
    position: center;
  }