
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the minimum height of the body to the viewport height */
}

main {
  flex: 1; /* Make the main section grow to fill the remaining vertical space */
  max-height: calc(100vh - (headerHeight + footerHeight));
  overflow-y: auto;
}

header,
footer {
  flex-shrink: 0; /* Prevent the header and footer from shrinking */
}

